{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

    <!-- メニュー一覧 -->
    <header>
      <div class="bar-container">
        <div class="bar1">
          {% for homepage in parent %}
              <a href="{% pageurl homepage %}">本気（マジ）就活</a>
          {% endfor %}
        </div>
        <div class="bar2">
          <nav>
            <ul class="menu-hide">
              {% for categoryindex in categories %}
                  {% for category in categoryindex.children.all %}
                      <li><a class="menu-button" href="{% pageurl category %}">{{ category.title }}</a></li>
                  {% endfor %}
              {% endfor %}
            </ul>
          </nav>
          <p class="menu-icon">MENU</p>
        </div>
      </div>
      <div class="button-hide">
        <nav>
          <ul>
            {% for categoryindex in categories %}
                {% for category in categoryindex.children.all %}
                    <li><a class="menu-button" href="{% pageurl category %}">{{ category.title }}</a></li>
                {% endfor %}
            {% endfor %}
          </ul>
        </nav>
      </div>
    </header>
    <!-- メニュー一覧 -->

    <main>
      <div class="main2">
        <article class="main-contents">
          <div class="blogcontainer">
            <header>
              <div class="bloghead">
                <p>{{ page.date }}</p>
                <h1>{{ page.title }}</h1>
                {% for categoryindex in categories %}
                    {% for categorya in categoryindex.children.all %}
                        {% for categoryb in page.categories.all %}
                            {% if categorya.title == categoryb.name %}
                                <a href="{% pageurl categorya %}">{{ categorya.title }}</a>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
              </div>
              {% image page.cover width-1500 as img %}
                  <div class="thumbnail" style="background-image:url({{ img.url }})"></div>
            </header>
            <section class="blogcontents">
              <p class="blogintro margin-bottom">{{ page.intro }}</p>
              {% with blocks=self.body %}

                  {% for block in blocks %}
                      {% if block.block_type == 'paragraph' %}
                          <div class="paragraph">{{ block.value }}</div>
                      {% endif %}
                      {% if block.block_type == 'h2' %}
                          <h2 class="blogh2">{{ block.value }}</h2>
                      {% endif %}
                      {% if block.block_type == 'h3' %}
                          <h3 class="blogh3">{{ block.value }}</h3>
                      {% endif %}
                      {% if block.block_type == 'comment' %}
                          <div class="comment">{{ block.value }}</div>
                      {% endif %}
                      {% if block.block_type == 'image' %}
                          {% image block.value width-1500 as img %}
                              <div class="blogimg" style="background-image:url({{ img.url }})"></div>
                      {% endif %}
                      {% if block.block_type == 'html' %}
                          {{ block.value }}
                      {% endif %}
                  {% endfor %}

              {% endwith %}
            </section>
            <footer></footer> <!-- This is advertisements place. -->
          </div>
        </article>
        <aside class="sub-contents">
          <!-- プロフィール表示 -->
          <div class="profile">
            {% for homepage in parent %}
                {% with authors=homepage.author.all %}
                    {% if authors %}
                        {% for author in authors %}
                            {% image author.icon width-1500 as icon %}
                                <div class="face-icon" style="background-image:url({{ icon.url }})"></div>
                                <h3>{{ author.name }}</h3>
                            <p>{{ author.intro }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
          </div>
          <!-- プロフィール表示 -->
          <!-- sub topic 一覧 -->
          <div class="profile text-align-center">
            <h3>おすすめ</h3>
            {% for blogpage in all_blogpages %}
                {% with topics=blogpage.topics.all %}
                    {% for topic in topics %}
                        {% if topic.name == 'sub' %}
                            <div>
                              {% image blogpage.specific.cover width-1000 as img %}
                                  <a href="{% pageurl blogpage %}"><div class="thumbnail" style="background-image:url({{ img.url }})"></div></a>
                              <h5><a href="{% pageurl blogpage %}">{{ blogpage.title }}</a></h5>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
            {% endfor %}
          </div>
          <!-- sub topic 一覧 -->
          <!-- 広告表示 -->
          {% for advertisement in advertisements %}
              {% if advertisement.name == 'side'%}
                  {{ advertisement.url }}
              {% endif %}
          {% endfor %}
          <!-- 広告表示 -->
        </aside>
      </div>
      <!-- ページ遷移 -->
      {% for homepage in parent %}
          <p class="pagetransition">
            <a href="{% pageurl homepage %}">{{ homepage.title }}</a> >
            {% for categoryindex in categories %}
                {% for categorya in categoryindex.children.all %}
                    {% for categoryb in page.categories.all %}
                        {% if categorya.title == categoryb.name %}
                            <a href="{% pageurl categorya %}">{{ categorya.title }}</a>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
             > {{ page.title }}
          </p>
      {% endfor %}
      <!-- ページ遷移 -->
    </main>
    <footer>
      <!-- お問い合わせ -->
      {% for formpage in form %}
          <div class="contact">
            <div class="form-container">
              <p>お問い合わせは</p>
              <a href="{% pageurl formpage %}">こちら</a>
            </div>
          </div>
      {% endfor %}
      <!-- お問い合わせ -->
      <!-- copyright -->
      <div class="copyright">
        {% for homepage in parent %}
            <p>
              Copyright -
              <a href="{% pageurl homepage %}">本気（マジ）就活</a>
              , 2019 All Rights Reserved.
            </p>
        {% endfor %}
      </div>
      <!-- copyright -->
    </footer>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="../static/home/js/menubutton.js"></script>

{% endblock %}
