{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}


    <!-- メニュー一覧 -->
    <header>
      <div class="bar-container">
        <div class="bar1">
          {% for homepage in parent %}
              <a href="{% pageurl homepage %}">本気（マジ）就活</a>
          {% endfor %}
        </div>
        <div class="bar2">
          <nav>
            <ul class="menu-hide">
              {% for categoryindex in categories %}
                  {% for category in categoryindex.children.all %}
                      <li><a class="menu-button" href="{% pageurl category %}">{{ category.title }}</a></li>
                  {% endfor %}
              {% endfor %}
            </ul>
          </nav>
          <p class="menu-icon">MENU</p>
        </div>
      </div>
      <div class="button-hide">
        <nav>
          <ul>
            {% for categoryindex in categories %}
                {% for category in categoryindex.children.all %}
                    <li><a class="menu-button" href="{% pageurl category %}">{{ category.title }}</a></li>
                {% endfor %}
            {% endfor %}
          </ul>
        </nav>
      </div>
    </header>
    <!-- メニュー一覧 -->
    <main>
      <section class="main2" >
        <!-- 記事一覧 -->
        <div class="main-contents">
          <div class="categorytheme">
            <h1>{{ page.title }}に関する記事一覧</h1>
          </div>
          {% for blogpage in blogpages %}
              <article class="article">
                <div class="title">
                  <p>{{ blogpage.specific.date }}</p>
                  <h2><a href="{% pageurl blogpage %}">{{ blogpage.title }}</a></h2>
                  {% for categoryindex in categories %}
                      {% for categorya in categoryindex.children.all %}
                          {% for categoryb in blogpage.categories.all %}
                              {% if categorya.title == categoryb.name %}
                                  <a href="{% pageurl categorya %}">{{ categorya.title }}</a>
                              {% endif %}
                          {% endfor %}
                      {% endfor %}
                  {% endfor %}
                </div>
                {% image blogpage.specific.cover width-1000 as img %}
                    <a href="{% pageurl blogpage %}"><div class="thumbnail" style="background-image:url({{ img.url }})"></div></a>
                <div class="intro">
                  <p>{{ blogpage.specific.intro }}</p>
                  <a href="{% pageurl blogpage %}" class="read-more">READ MORE</a>
                </div>
              </article>
          {% endfor %}
          <!-- ページネーション -->
          <ul>
            {% if blogpages.has_previous %}
                <li class="inline-block"><a href="?page={{ blogpages.previous_page_number }}" class="read-more">PREV</a></li>
            {% endif %}
            {% for page_num in blogpages.paginator.page_range %}
                <li class="inline-block"><a href="?page={{ page_num }}" {% if page_num == blogpages.number %}class="read-more active"{% endif %} class="read-more">{{ page_num }}</a></li>
            {% endfor %}
            {% if blogpages.has_next %}
                <li class="inline-block"><a href="?page={{ blogpages.next_page_number }}" class="read-more">NEXT</a></li>
            {% endif %}
          </ul>
          <!-- ページネーション -->
        </div>
        <!-- 記事一覧 -->
        <aside class="sub-contents">
          <!-- プロフィール表示 -->
          <div class="profile">
            {% for homepage in parent %}
                {% with authors=homepage.author.all %}
                    {% if authors %}
                        {% for author in authors %}
                            {% image author.icon width-1500 as icon %}
                                <div class="face-icon" style="background-image:url({{ icon.url }})"></div>
                            <h3>{{ author.name }}</h3>
                            <p>{{ author.intro }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
          </div>
          <!-- プロフィール表示 -->
          <!-- sub topic 一覧 -->
          <div class="profile text-align-center">
            <h3>おすすめ</h3>
            {% for blogpage in all_blogpages %}
                {% with topics=blogpage.topics.all %}
                    {% for topic in topics %}
                        {% if topic.name == 'sub' %}
                            <div>
                              {% image blogpage.specific.cover width-1000 as img %}
                                  <a href="{% pageurl blogpage %}"><div class="thumbnail" style="background-image:url({{ img.url }})"></div></a>
                              <h5><a href="{% pageurl blogpage %}">{{ blogpage.title }}</a></h5>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
            {% endfor %}
          </div>
          <!-- sub topic 一覧 -->
          <!-- 広告表示 -->
          {% for advertisement in advertisements %}
              {% if advertisement.name == 'side'%}
                  {{ advertisement.url }}
              {% endif %}
          {% endfor %}
          <!-- 広告表示 -->
        </aside>
      </section>
      {% for homepage in parent %}
          <p class="pagetransition">
            <a href="{% pageurl homepage %}">{{ homepage.title }}</a> >
            {% for categoryindex in categories %}
                <a href="{% pageurl categoryindex %}">Category</a>
            {% endfor %}
             > {{ page.title }}
          </p>
      {% endfor %}
    </main>
    <footer>
      <!-- お問い合わせ -->
      {% for formpage in form %}
          <div class="contact">
            <div class="form-container">
              <p>お問い合わせは</p>
              <a href="{% pageurl formpage %}">こちら</a>
            </div>
          </div>
      {% endfor %}
      <!-- お問い合わせ -->
      <!-- copyright -->
      <div class="copyright">
        {% for homepage in parent %}
            <p>
              Copyright -
              <a href="{% pageurl homepage %}">本気（マジ）就活</a>
              , 2019 All Rights Reserved.
            </p>
        {% endfor %}
      </div>
      <!-- copyright -->
    </footer>


    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="../../static/home/js/menubutton.js"></script>

{% endblock %}
