// compileCompressed: ../min_css/$1.min.css
@import "./variables.scss";

.text-align-center {
  text-align: center;
}

.vertical-align-middle {
  vertical-align: middle;
}

.inline-block {
  display: inline-block;
}
.active {
  background-color: black;
}

.read-more {
  font-size: 12px;
  border: solid;
  font-weight: 600;
  padding: 6px;
  box-sizing: border-box;
  transition: 0.4s;
  opacity: 0.7;
  @include tab{
    font-size: 16px;
    padding: 8px
  };
}
.read-more:hover {
  opacity: 1;
  font-size: 16px;
  @include tab{
    font-size: 20px;
  };
  @include sp{
    font-size: 16px;
  };
}

.menu-button {
  transition: 0.4s;
  opacity: 0.7;
}
.menu-button:hover {
  font-size: 24px;
  @include tab{
    font-size: 36px;
  };
  @include sp{
    font-size: 20px;
  };
}

.middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.dark {
  background-color: black;
  opacity: 0.5;
}
