// compileCompressed: ../min_css/$1.min.css

$pc: 1023px;
$tab: 500px;
$sp: 200px;

@mixin tab {
  @media(min-width: $tab) and (max-width: ($pc)){
    @content;
  }
}

@mixin sp {
  @media(min-width: $sp) and (max-width: ($tab)){
    @content;
  }
}
